In [1]:
# Dependencies and Setup
import pandas as pd

#Turn Off Warnings 
pd.options.mode.chained_assignment = None

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read File and store into Pandas data frame
main_df = pd.read_csv(file_to_load)

In [2]:
# Checking "Main" Dataframe 
# main_df

In [3]:
# Checking Columns In Main Data Frame 
# main_df.columns

## Total Players

In [4]:
# Calulating Total Players And Adding To Data Frame 

    total_of_players = len(main_df['SN'].value_counts())
    total_of_players_df = pd.DataFrame({"Total Players":[total_of_players]})

In [5]:
total_of_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [6]:
# Calulations For Each Column In Data Frame

    unique_items = len(main_df['Item Name'].value_counts())
    average_price = main_df['Price'].mean()
    number_purchases = len(main_df['Purchase ID'].value_counts())
    total_revenue = main_df['Price'].sum()

In [7]:
# Add Calculations To Data Frame

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                                       "Average Price":[average_price],
                                       "Number of Purchases":[number_purchases],
                                       "Total Revenue":[total_revenue]})

In [8]:
# Formatting Average Price and Total Revenue 

    purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].astype(float).map("${:,.2f}".format)
    #purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].astype(float).map(
        #"${:,.2f}".format)

In [9]:
  purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     179         $3.05                  780        2379.77

## Gender Demographics

In [10]:
# Dropping Any Columns That Had Missing Values 
    
main_df = main_df.dropna(how="any")

#main_df.count()

In [11]:
# Checking If Column Is Counting Unqiue Values
    
    unique_gender = main_df["Gender"].value_counts()

#unique_gender

In [12]:
# Creating New DataFrame 
    
    gender_df = main_df[["SN","Gender"]]

In [13]:
# Dropping Duplicates To Get Unique Values 
# https://stackoverflow.com/questions/43184491/df-unique-on-whole-dataframe-based-on-a-column

gender_df = gender_df.drop_duplicates(subset=['SN'])

# gender_df.head()

In [14]:
# Checking If Data Frame Has Unique Values 
    
    gender_counts = gender_df["Gender"].value_counts()

# gender_counts

In [15]:
# Creating Data Frame With Gender Index 

    just_gender_df = gender_df[["Gender"]]
    just_gender_df = pd.DataFrame(gender_counts)
    gender_demographics_df = just_gender_df.rename(columns={"Gender":"Total Count"})

# gender_demographics_df.head()

In [16]:
# Calulations For Gender Demographics

    gender_sum = gender_demographics_df["Total Count"].sum()
    gender_average = (gender_demographics_df['Total Count'] / gender_sum)*100

# gender_average

In [17]:
# Adding Percentage Of Players Column

    gender_demographics_df.loc[:, "Percentage Of Players"] = (gender_demographics_df['Total Count'] / gender_sum)*100

# gender_demographics_df

In [18]:
# Formatting Percentage Of Players Column

    gender_demographics_df["Percentage Of Players"] = gender_demographics_df["Percentage Of Players"].astype(float).map(
        "{:,.2f}%".format)

In [19]:
gender_demographics_df

                       Total Count Percentage Of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender) Table

In [20]:
# Creating New DataFrame For Purchasing Analysis (Gender) Table

    purchasing_analysis_gender_df = main_df[["Gender","Purchase ID","Price"]]

# purchasing_analysis_gender_df

In [21]:
# Groupping By Gender

    grouped_gender_df = purchasing_analysis_gender_df.groupby(['Gender'])

# print(grouped_gender_df)
# grouped_gender_df.count().head(3)

In [22]:
# First 3 Calculations For Purchasing Analysis (Gender) 

    purchase_count_gender = grouped_gender_df["Purchase ID"].count()
    average_price_gender = grouped_gender_df["Price"].mean()
    t_purchase_value_gender = grouped_gender_df["Price"].sum()

In [23]:
# Adding Calulations To DataFrame

    purchase_gender_table = pd.DataFrame({"Purchase Count":purchase_count_gender,
                                          "Average Purchase Price": average_price_gender,
                                          "Total Purchase Value": t_purchase_value_gender})

# purchase_gender_table.head()

In [24]:
# Last Calculation... 

    avgtot_purchase_person = purchase_gender_table["Total Purchase Value"] / gender_demographics_df["Total Count"]
    
# avgtot_purchase_person

In [25]:
# Adding Last Calculation To DataFrame 
# https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/

    purchase_gender_table["Avg Total Purchase Per Person"] = avgtot_purchase_person

# purchase_gender_table.head()

In [26]:
# Formatting Calculations 

    purchase_gender_table["Average Purchase Price"] = purchase_gender_table["Average Purchase Price"].astype(float).map(
        "${:,.2f}".format)
    purchase_gender_table["Total Purchase Value"] = purchase_gender_table["Total Purchase Value"].astype(float).map(
        "${:,.2f}".format)
    purchase_gender_table["Avg Total Purchase Per Person"] = purchase_gender_table["Avg Total Purchase Per Person"].astype(float).map(
        "${:,.2f}".format)

In [27]:
purchase_gender_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [28]:
# Creating New DataFrame For Age Demographics

    demographics_df = main_df[["Age","SN"]]

# Dropping Duplicates To Get Unique Values

    demographics_df = demographics_df.drop_duplicates(subset=['SN'])

# demographics_df

In [29]:
# Creating New DataFrame With Only Column Age 

    just_age_df = demographics_df[["Age"]]
    
# just_age_df

In [30]:
# Creating Max Variable 

    max_age = just_age_df["Age"].max()

# max_age

In [31]:
# Creating Bins and Group Names For Binning Age

    bins = [0, 9, 14, 19, 24, 29, 34, 39, max_age]

    group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [32]:
# Using pd.cut For Binning Age

    just_age_df["Total Count"] = pd.cut(just_age_df["Age"], bins, 
                                    labels=group_names, include_lowest=True)
# just_age_df

In [33]:
# Checking Data Types 
# just_age_df.dtypes

In [34]:
# Checking Column

    age_counts = just_age_df["Total Count"].value_counts()

# age_counts

In [35]:
# Setting Index

    age_index_df = pd.DataFrame(age_counts)

# age_index_df

In [36]:
# Setting Index To Ascending Order 

    age_demographics_df = age_index_df.sort_index(ascending=True)

# age_demographics_df

In [37]:
# Calulation...
    
    percent_of_players_age = (age_demographics_df["Total Count"] / age_demographics_df["Total Count"].sum())*100

# percent_of_players_age

In [38]:
# Adding Calulation As Column 

    age_demographics_df["Percentage of Players"] = percent_of_players_age
    age_demographics_df["Percentage of Players"] = age_demographics_df["Percentage of Players"].astype(float).map(
        "{:,.2f}%".format)

In [39]:
age_demographics_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

In [40]:
# Creating DataFrame With Selected Columns 

    just_purchase_n_age_df = main_df[["Age","Purchase ID", "Price"]]
    
# just_purchase_n_age_df

In [41]:
# Setting A Max Variable 

    max_age_copy = just_purchase_n_age_df["Age"].max()

In [42]:
# Setting Bins And Group Names 

    bins_copy = [0, 9, 14, 19, 24, 29, 34, 39, max_age_copy]

    group_names_copy = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [43]:
# Using pd.cut For Binning 

    just_purchase_n_age_df["Age Ranges"] = pd.cut(just_purchase_n_age_df["Age"], bins_copy, 
                                    labels=group_names_copy, include_lowest=True)

# just_purchase_n_age_df

In [44]:
# Group By Age Ranges 
    
    groupby_bin_df = just_purchase_n_age_df.groupby("Age Ranges")

# print(just_purchase_n_age_df)
# groupby_bin_df.count().head(8)

In [45]:
# Calculations...

    purchase_count_age = groupby_bin_df["Purchase ID"].count()
    average_purchase_price_age = groupby_bin_df["Price"].mean()
    t_purchase_value_age = groupby_bin_df["Price"].sum()

In [46]:
# Adding Calculations As Columns 

    purchase_age_table = pd.DataFrame({"Purchase Count":purchase_count_age,
                                   "Average Purchase Price":average_purchase_price_age,
                                   "Total Purchase Value":t_purchase_value_age})

# purchase_age_table.head(8)

In [47]:
# Calculations For "Avg Total Purchase Per Person"
    
    avgtot_purchase_person_age = purchase_age_table["Total Purchase Value"]/ age_demographics_df["Total Count"]

# avgtot_purchase_person_age

In [48]:
# Adding Calculation to DataFrame As A Column 

    purchase_age_table["Avg Total Purchase Per Person"] = avgtot_purchase_person_age

# purchase_age_table.head(8)

In [49]:
# Formatting Columns 

    purchase_age_table["Average Purchase Price"] = purchase_age_table["Average Purchase Price"].map(
        "${:,.2f}".format)

    purchase_age_table["Total Purchase Value"] = purchase_age_table["Total Purchase Value"].map(
        "${:,.2f}".format)

    purchase_age_table["Avg Total Purchase Per Person"] = purchase_age_table["Avg Total Purchase Per Person"].map(
        "${:,.2f}".format)

In [50]:
purchase_age_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [51]:
# Creating New Data Frame For Top Spenders 

    top_spenders_df = main_df[["SN","Purchase ID", "Price"]]

# top_spenders_df

In [52]:
# Groupping By Screen Name 

    index_sn_df = top_spenders_df.groupby("SN")

# print(top_spenders_df)
# index_sn_df.count().head(8)

In [53]:
# Calculations For Top Spenders 

    purchase_count_sn = index_sn_df["Purchase ID"].count()
    average_purchase_price_sn = index_sn_df["Price"].mean()
    total_purchase_value_sn = index_sn_df["Price"].mean() * index_sn_df["Purchase ID"].count()

In [54]:
# Adding Calculations To DataFrame 

    top_spenders_table = pd.DataFrame({"Purchase Count":purchase_count_sn,
                                   "Average Purchase Price":average_purchase_price_sn,
                                   "Total Purchase Value":total_purchase_value_sn})

# top_spenders_table.head(5)

In [55]:
# Total Purchase Value Column In Descending Order
# https://stackoverflow.com/questions/37787698/how-to-sort-pandas-dataframe-from-one-column
    
top_spenders_table = top_spenders_table.sort_values("Total Purchase Value"
                                                    ,ascending=False)
# top_spenders_table.head(5)

In [56]:
# Formatting Columns 

    top_spenders_table["Average Purchase Price"] = top_spenders_table["Average Purchase Price"].map(
        "${:,.2f}".format)
    top_spenders_table["Total Purchase Value"] = top_spenders_table["Total Purchase Value"].map(
        "${:,.2f}".format)

In [57]:
top_spenders_table.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [58]:
# New DataFrame For Most Popular Items

    most_popular_retrieval = main_df[["Item ID","Item Name","Price"]]

# most_popular_retrieval

In [59]:
# GroupBy Item ID and Name     
    
    index_id_title = most_popular_retrieval.groupby(["Item ID","Item Name"])

# print(most_popular_retrieval)
# index_id_title.count().head(8)

In [60]:
# Calculations...
    
    purchase_count_item = index_id_title["Item ID"].count()
    each_item_price = index_id_title["Price"].mean()
    total_purchase_value_item = index_id_title["Price"].mean() * index_id_title["Item ID"].count()

In [61]:
# Inputting Calculations To DataFrame 
    
    most_popular_table = pd.DataFrame({"Purchase Count":purchase_count_item,
                                       "Item Price":each_item_price,
                                       "Total Purchase Value":total_purchase_value_item})

# most_popular_table.head(10)

In [62]:
# A Copy Table To Use Later For Most Profitable Table 

    most_popular_table_copy = most_popular_table

In [63]:
# Purchase Count Column In Descending Order
# https://stackoverflow.com/questions/37787698/how-to-sort-pandas-dataframe-from-one-column

most_popular_table = most_popular_table.sort_values("Purchase Count"
                                                    ,ascending=False)
# most_popular_table.head(5)

In [64]:
# Formating Columns 

    most_popular_table["Item Price"] = most_popular_table["Item Price"].astype(float).map(
        "${:,.2f}".format)

    most_popular_table["Total Purchase Value"] = most_popular_table["Total Purchase Value"].astype(float).map(
        "${:,.2f}".format)

In [65]:
most_popular_table.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable

In [66]:
# Creating New DataFrame / Total Purchase Value In Descending Order
    
    most_profitable_table = most_popular_table_copy.sort_values("Total Purchase Value"
                                                                ,ascending=False)

# most_profitable_table.head(5)

In [67]:
# Formating Columns 

    most_profitable_table["Item Price"] = most_profitable_table["Item Price"].astype(float).map(
        "${:,.2f}".format)

    most_profitable_table["Total Purchase Value"] = most_profitable_table["Total Purchase Value"].astype(float).map(
        "${:,.2f}".format)

In [68]:
most_profitable_table.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80